<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="~{layout/master}"
>
<head>
    <!-- Menyisipkan Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Co-Working Space</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tambah Member</h4>
                        <h6 class="card-subtitle">Isi Data<code> Member</code></h6>
                    </div>
                    <hr class="m-t-0">
                    <form class="form-horizontal" role="form"
                          th:action="@{'/datamember/update/'+${dataMember.getId()}}"
                          th:object="${data}"
                          method="post"
                    >

                        <div class="card-body">
                            <div class="form-group row align-items-center m-b-0">
                                <label for="Nama-i" class="col-3 text-right control-label col-form-label">Nama</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="nama"
                                           id="Nama-i"

                                           placeholder="Masukan Nama">
                                </div>
                            </div>

                        </div>
                        <div class="card-body bg-light">
                            <div class="form-group row align-items-center m-b-0">
                                <label for="Email-i" class="col-3 text-right control-label col-form-label">Email</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="email"
                                           id="Email-i"
                                           placeholder="Masukan Email">
                                </div>
                            </div>


                            <div class="form-group row align-items-center m-b-0">
                                <label for="Password-i" class="col-3 text-right control-label col-form-label">Password</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="password" class="form-control"
                                           name="password"
                                           id="Password-i"

                                           placeholder="Masukan Password">
                                </div>
                            </div>

                            <div class="form-group row align-items-center m-b-0">
                                <label for="Umur-i" class="col-3 text-right control-label col-form-label">Umur</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="umur"
                                           id="Umur-i"
                                           placeholder="Masukan Umur">
                                </div>
                            </div>


                            <div class="form-group row align-items-center m-b-0">
                                <label for="Nomer_Telp-i" class="col-3 text-right control-label col-form-label">Nomer Telepon</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="nomer_Telp"
                                           id="Nomer_Telp-i"
                                           placeholder="Masukan Nomer Telpon">
                                </div>
                            </div>

                            <div class="form-group row align-items-center m-b-0">
                                <label for="Jenis_Kelamin-i" class="col-3 text-right control-label col-form-label">Jenis Kelamin</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="jenis_Kelamin"
                                           id="Jenis_Kelamin-i"
                                           placeholder="Jenis Kelamin">
                                </div>
                            </div>



                            <div class="form-group row align-items-center m-b-0">
                                <label for="Pekerjaan-i" class="col-3 text-right control-label col-form-label">Pekerjaan</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="pekerjaan"
                                           id="Pekerjaan-i"
                                           placeholder="Masukan Pekerjaan">
                                </div>
                            </div>


                            <div class="card-body">
                                <div class="form-group m-b-0 text-right">
                                    <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                                    <button type="reset" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  <!-- end row -->
            </div>
        </div><!-- end col-12 -->
    </div>
</th:block>

<!-- Menyisipkan JQuery dan Javascript Bootstrap -->

</body>
</html>
