<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
        <title>Co-Working Space</title>
        <!-- Custom CSS -->
        <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
        <th:block layout:fragment="content_css" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!--TopMenu-->
            <th:block th:replace="layout/top-menu"/>
            <th:block th:replace="layout/left-menu"/>

            <div class="page-wrapper">
                <!--MainContent-->
                <th:block layout:fragment="content"/>
            </div>
        </div>

        <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
        <!-- apps -->
        <script th:src="@{/dist/js/app.min.js}"></script>
        <script th:src="@{/dist/js/app.init.mini-sidebar.js}"></script>
        <script th:src="@{/dist/js/app-style-switcher.js}"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
        <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
        <!--Wave Effects -->
        <script th:src="@{/dist/js/waves.js}"></script>
        <!--Menu sidebar -->
        <script th:src="@{/dist/js/sidebarmenu.js}"></script>
        <!--Custom JavaScript -->
        <script th:src="@{/dist/js/custom.min.js}"></script>
        <!-- Fragment JS-->
        <th:block layout:fragment="content_js" />

    </body>
</html>
