<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="~{layout/master}"
>
<head>
    <!-- Menyisipkan Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Co-Working Space</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tambah Meja</h4>
                        <h6 class="card-subtitle">Isi Data<code> Meja</code></h6>
                    </div>
                    <hr class="m-t-0">
                    <form class="form-horizontal" role="form"
                          th:action="@{/datameja/create}"
                          th:object="${data}"
                          method="post"
                    >

                        <div class="card-body">
                            <div class="form-group row align-items-center m-b-0">
                                <label for="Kd_Meja-i" class="col-3 text-right control-label col-form-label">Kode Meja</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="kd_Meja"
                                           id="Kd_Meja-i"

                                           placeholder="Masukan Kode Meja">
                                </div>
                            </div>

                        </div>
                        <div class="card-body bg-light">
                            <div class="form-group row align-items-center m-b-0">
                                <label for="Harga_Sewa-i" class="col-3 text-right control-label col-form-label">Harga Sewa</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="harga_Sewa"
                                           id="Harga_Sewa-i"
                                           placeholder="Masukan Harga Sewa">
                                </div>
                            </div>


                            <div class="form-group row align-items-center m-b-0">
                                <label for="Kapasitas-i" class="col-3 text-right control-label col-form-label">Kapasitas Orang</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="kapasitas"
                                           id="Kapasitas-i"
                                           placeholder="Masukan Kapasitas Orang">
                                </div>
                            </div>


                            <div class="form-group row align-items-center m-b-0">
                                <label for="Fasilitas-i" class="col-3 text-right control-label col-form-label">Fasilitas</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <input type="text" class="form-control"
                                           name="fasilitas"
                                           id="Fasilitas-i"
                                           placeholder="Masukan Fasilitas yang ada">
                                </div>
                            </div>

                            <div class="form-group row align-items-center m-b-0">
                                <label for="Status_Sewa-i" class="col-3 text-right control-label col-form-label">Status Sewa</label>
                                <div class="col-9 border-left p-b-10 p-t-10">
                                    <select class="form-control" th:field="*{status_Sewa}" id="Status_Sewa-i"
                                            required>
                                        <option value="">--pilih--</option>
                                        <option value="Belum Disewa">Belum Disewa</option>
                                        <option value="Sedang Disewa">Sedang</option>
                                    </select>
                                </div>
                            </div>


                            <div class="card-body">
                                <div class="form-group m-b-0 text-right">
                                    <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                                    <button type="reset" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  <!-- end row -->
            </div>
        </div><!-- end col-12 -->
    </div>
</th:block>

<!-- Menyisipkan JQuery dan Javascript Bootstrap -->
</body>
</html>
