<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/master}"
>
<head>
    <title>Co-Working Space</title>
</head>

<th:block layout:fragment="content">

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Data Biaya</h4>
                        <a th:href=@{'/databiaya/tambah'} role="button" class="btn btn-primary">
                            <i class="mdi mdi-plus"></i> Tambah
                        </a>
                        <a th:href=@{'/databiaya/laporan'} role="button" class="btn btn-primary">
                            <i class="mdi mdi-file"></i> Print
                        </a>
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Kode Meja</th>
                                    <th>Nama</th>
                                    <th>Total Pembayaran</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="k: ${dataBiayaList}">
                                    <td th:text="${kStat.count}"></td>
                                    <td th:text="${k?.getDataMeja()?.getKd_Meja()}"></td>
                                    <td th:text="${k?.getDataMember()?.getNama()}"></td>
                                    <td th:text="${k.getBiaya_Sewa()}"></td>
                                    <td>
                                        <a th:href="@{'/databiaya/delete/'+${k.getId()}}" class="mdi mdi-delete"> </a>
                                        <a th:href="@{'/databiaya/show/'+${k.getId()}}" class="mdi mdi-eye-outline"> </a>
                                    </td>

                                </tr>

                                </tbody>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
